<%- include("partials/header"); -%>

<figure class="image-container">
  <img src=<%= imagesrc %> alt="Post image" />
</figure>
<div class="header-body">
  <h1><%= title %></h1>
  <h3><%= date %></h3>
</div>
<p><%= content %></p>

<%- include("partials/footer"); -%>
